{% extends 'base.html' %}

{% block content %}
  <div class="thank-you">
    <h1>Thank you for your order!</h1>
    
    <h2>Payment Successful</h2>

    <p><strong>Order Number:</strong> {{ order.id }}</p>
    
<p>Your order has been received! You will receive an email confirmation shortly.</p>

 <ul>
      {% for item in order.items.all %}
        <li>
          <strong>{{ item.product.title }}</strong> - 
          {{ item.quantity }} x £{{ item.product.price }}
        </li>
      {% endfor %}
    </ul>
<a href="{% url 'shop:shop_index' %}">Continue Shopping</a>

  </div>
{% endblock %}


