<nav id="navbar" class="nav hover-zone">

    <!-- MENU TOGGLE -->
    <button id="nav-toggle" class="nav-toggle" aria-label="Toggle Menu">
        <div class="dot dot-1"></div>
        <div class="dot dot-2"></div>
        <div class="dot dot-3"></div>
        <div class="dot dot-4"></div>
        <div class="dot dot-5"></div>
    </button>

    <!-- MENU -->
    <ul class="nav-menu">

        <!-- ABOUT -->
        <li>
            <div class="nav-wrap">
                <button class="nav-item" data-link="/about/">
                    <span>About</span>
                </button>
            </div>
        </li>

        <!-- WORK + SUBMENU -->
        <li class="has-sub">

            <div class="nav-wrap">
                <button class="nav-item submenu-toggle">
                    <span>Work</span>
                </button>
            </div>

            <ul class="submenu">

                <li>
                    <div class="nav-wrap">
                        <button class="nav-sub" data-link="/work/art/">
                            <span>Art</span>
                        </button>
                    </div>
                </li>

                <li>
                    <div class="nav-wrap">
                        <button class="nav-sub" data-link="/work/digital/">
                            <span>Digital</span>
                        </button>
                    </div>
                </li>

                <li>
                    <div class="nav-wrap">
                        <button class="nav-sub" data-link="/work/installations/">
                            <span>Installations</span>
                        </button>
                    </div>
                </li>

            </ul>

        </li>

        <!-- OTHER TOP-LEVEL LINKS -->

        <li>
            <div class="nav-wrap">
                <button class="nav-item" data-link="/shop/">
                    <span>Shop</span>
                </button>
            </div>
        </li>

        <li>
            <div class="nav-wrap">
                <button class="nav-item" data-link="/contact/">
                    <span>Contact</span>
                </button>
            </div>
        </li>

    </ul>

</nav>
